@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

ATEK HOLDING

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #51924b;
$tertiary_color: #58595b;
$background: #f1f1f1;

/* ---------- General ---------- */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	color: $primary_color;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Header */

.header {
	.moduletable_h1 {
		padding: 15px 0;
		img {
			max-width: 158px;
		}
	}
	.moduletable_h2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			#responsive-menu {
				ul.menu {
					background-color: transparent;
					li {
						background: {
							image: url(menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-item {
							a {
								color: $secondary_color;
							}
						}
						a {
							padding: 0 25px;
							color: $primary_color;
							text-transform: uppercase;
							&:hover {
								color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 20px 0;
	h1,
	h2 {
		margin-bottom: 20px;
		font-size: 18px;
	}
	h2 {
		color: $secondary_color;
	}
	.box_white,
	.box_grey {
		padding: 20px;
	}
	.box_grey {
		background-color: $background;
	}
	.contact_1 {
		margin-bottom: 20px;
	}
	.contact_2 {
		h1 {
			color: $secondary_color;
			text-transform: uppercase;
		}
		.button {
			background-color: $secondary_color;
		}
	}
}

.content.grey {
	background-color: $background;
}

/* Left */

.left_wrap {
	padding: 20px 0;
	background: {
		image: url(left_bg.png);
		position: top;
		repeat: repeat-x;
	}
	h3.menu {
		padding: 10px;
		background-color: $tertiary_color;
		font-size: 14px;
		color: #fff;
		text-align: center;
		display: block;
	}
	ul.menu {
		margin-bottom: 10px;
		border: 1px solid #cbcbcb;
		li {
			&:nth-child(odd) {
				background-color: #fff;
			}
			&:nth-child(even) {
				background-color: $background;
			}
			&.current-menu-item {
				a {
					background-color: $secondary_color;
					color: #fff;
				}
			}
			a {
				color: $primary_color;
				&:before {
					padding-right: 5px;
					content: '>>';
				}
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	.left {
		.moduletable_le1 {
			padding: 15px;
			border: 1px solid $background;
			ul {
				margin-bottom: 0;
				li {
					a {
						color: $primary_color;
					}
				}
			}
		}
	}
	.metaslider {
		margin-bottom: 20px !important;
	}
}

/* Home */

.home {
	padding: 20px 0;
	.moduletable_ho1 {
		.flexslider {
			/*margin: 0;*/
			.flex-control-paging {
				li {
					a {
						&.flex-active {
							background: rgba(81, 146, 75, 1);
						}
					}
				}
			}
		}
	}
}

/* Service */

.service {
	padding: 20px 0;
	background-color: $background;
	.moduletable_se1 {
		h3 {
			margin: 0;
			margin-top: 10px;
			font-size: 12px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $tertiary_color;
	.moduletable_bo1 {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Header */

	.header {
		.moduletable_h1 {
			text-align: center;
		}
		.moduletable_h2 {
			.top-bar {
				.top-bar-title {
					margin: auto;
					padding: 10px 0;
				}
				#responsive-menu {
					ul.menu {
						height: inherit;
						display: block;
						li {
							background: none;
						}
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}